.form-container {
    position: relative;
}

.new-message-input-field {
    width: 100%;
    font-size: 14px;
    padding: 12px 70px 12px 12px;
    box-sizing: border-box;
    resize: none;
    border-radius: 10px;
    line-height: 1;
}

.send-message-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: none;
    background: none;
}

.new-message-input-field, .send-message-button {
    border-color: #9a9a9a;
}